[2016-03-12 20:03] kutyel opened #1 "Remove dependency on Immutable.js?"
I would like the opinion of the community regarding whether I should remove the dependency upon Immutable.js or not. As I return a new instance of my class every time in most methods, this makes the library already "immutable" by definition. Moreover, this would allow me to make my own methods implementation, maybe using approaches similar to the ones in **lodash** to make it as fastest as possibl

[2016-03-14 16:53] keropodium commented on #1
![YES](http://i.giphy.com/3o7abB06u9bNzA8lu8.gif)

[2016-03-14 20:37] kutyel commented on #1
Ok, *alea jacta est*. Thanks for the feedback!

[2016-03-14 22:06] #1 closed

[2016-03-17 08:54] kutyel opened #3 "Implement SkipWhile()"
Implement the [method](https://github.com/kutyel/linq.ts/blob/68cdfaf63ad66512fac15f0410d75dab15ef75e5/linq.ts#L291-L296) according to the following [docs](https://msdn.microsoft.com/es-es/library/bb549075(v=vs.110).aspx):

[code]

The unit test for this method is ready to be [uncommented](https://github.com/kutyel/linq.ts/blob/68cdfaf63ad66512fac15f0410d75dab15ef75e5/test/list.ts#L217-L220) when

[2016-03-17 09:03] keropodium commented on #3
![tv-shows-father-ted-jack-l7ZrjLJsznQuQ](https://camo.githubusercontent.com/40927f5f7f455db26be10f7cddcedbfc48c0a646/68747470733a2f2f6d65646961332e67697068792e636f6d2f6d656469612f6c375a726a4c4a737a6e5175512f67697068792e676966)

[2016-03-17 09:26] kutyel opened #4 "Implement TakeWhile()"
Implement the [method](https://github.com/kutyel/linq.ts/blob/68cdfaf63ad66512fac15f0410d75dab15ef75e5/linq.ts#L313-L318) according to the following [specification](https://msdn.microsoft.com/es-es/library/bb534804(v=vs.110).aspx):

[code]

The unit test for this method is ready to be [uncommented](https://github.com/kutyel/linq.ts/blob/68cdfaf63ad66512fac15f0410d75dab15ef75e5/test/list.ts#L237-L2

[2016-03-17 09:30] kutyel opened #5 "Implement Join()"
Implement the [method](https://github.com/kutyel/linq.ts/blob/68cdfaf63ad66512fac15f0410d75dab15ef75e5/linq.ts#L170-L175) according to the following [specification](https://msdn.microsoft.com/es-es/library/bb534675(v=vs.110).aspx):

[code]

The unit test for this method shoud be implemented [here](https://github.com/kutyel/linq.ts/blob/68cdfaf63ad66512fac15f0410d75dab15ef75e5/test/list.ts#L125-L12

[2016-03-17 12:56] kutyel opened #6 "Implement ThenBy()"
Implement the [method](https://github.com/kutyel/linq.ts/blob/837e8ffc7b165def669f55fcf6b1cb9e709a97f2/linq.ts#L223-L228) according to the following [specification](https://msdn.microsoft.com/es-es/library/bb534743(v=vs.110).aspx):

[code]

The unit test for this method shoud be implemented [here](https://github.com/kutyel/linq.ts/blob/837e8ffc7b165def669f55fcf6b1cb9e709a97f2/test/list.ts#L156-L15

[2016-03-17 20:26] #4 closed

[2016-03-17 20:44] #3 closed

[2016-03-20 22:01] #5 closed

[2016-03-21 10:07] kutyel commented on #6
[This](http://stackoverflow.com/a/9175783/2834553) is the key to solve this issue:

[code]

[2016-03-21 23:50] #6 closed

[2016-03-23 12:52] kutyel opened #8 "Implement GroupJoin()"
Implement the [method](https://github.com/kutyel/linq.ts/blob/57bf1b628e8eb5d8223cfb7e7b76f8304ff4d25b/linq.ts#L155-L161) according to the following [specification](https://msdn.microsoft.com/es-es/library/bb534297(v=vs.110).aspx):

[code]

The unit test for this method is ready to be [unskipped](https://github.com/kutyel/linq.ts/blob/57bf1b628e8eb5d8223cfb7e7b76f8304ff4d25b/test/list.ts#L165) whe

[2016-03-25 11:24] #8 closed

[2016-04-21 05:02] natarajanmca11 opened #9 "node_modules\linqts\linq.ts (154,43): Index signature of object type implicitly has an 'any' type. (7017)"
Hi,

I am getting the following error at runtime. Compile the code does not throw any error.

![image](https://cloud.githubusercontent.com/assets/9244766/14698281/704eeaa8-07e1-11e6-9a5a-161af1a8763a.png)

Compiler Options FYR - `tsconfig.json`
[code]

[2016-04-21 05:54] natarajanmca11 commented on #9
Need to add appropriate test cases for this scenario.

[2016-04-21 05:54] #9 closed

[2016-04-24 06:18] twoeo opened #11 "Reccommend: Add method toMap"
Always need convert an array to  map ...

[2016-04-24 18:51] kutyel commented on #11
Could you please explain in more detail what this `ToMap()` function would do?

In the LINQ specification there are only these converting methods:
- [ToArray()](https://msdn.microsoft.com/en-us/library/bb298736.aspx)
- [ToDictionary()](https://msdn.microsoft.com/en-us/library/bb549277.aspx)
- [ToList()](https://msdn.microsoft.com/en-us/library/bb342261.aspx)
- [ToLookup()](https://msdn.microsoft.c

[2016-04-26 10:05] kutyel commented on #11
Closed by the lack of response. If the contributor answers and the Issue is real, will reopen it.

[2016-04-26 10:05] #11 closed

[2016-05-06 05:16] twoeo commented on #11
ToDictionary works!  Thanks!~

[2016-05-18 03:49] NickAb opened #12 "How to import linq.ts into module"
I have my angular 1.5 typescript app organised in several files: app.ts, controller.ts, ientity.ts etc. All files re wrapped in `module MyApp {}`. In tsconfig I have `outFile` option set so that everything compiles into a single app.js file.

How do I use linq.ts in such project? If I try to `import {List} from "linqts"` at the top of any of my *.ts files outside `module MyApp` then compilation br

[2016-05-18 20:50] kutyel commented on #12
I think that this is not an issue of the library itself, but on the architecture approach you are trying. From some time ago, external modules or namespaces are **not recommended** in TypeScript. While the common approach is to just export classes or variables in certain files, just as I am doing here. This is the  way Angular 2 works, for example, and other TypeScript big projects. Maybe you can

[2016-05-19 14:19] lilling opened #13 "List from API"
How can I get `List<T>` instead of `Array<T>` from API?

In development I have autocomplete as if it is a `List<T>` as it should but at run time it becomes an `Array<T>` and I fall on LINQ functions...

Help will be appreciated.

[2016-05-19 16:43] kutyel commented on #13
I don't really understand what you mean. In the LINQ specification there are only this converting methods:
- [ToArray()](https://msdn.microsoft.com/en-us/library/bb298736.aspx)
- [ToDictionary()](https://msdn.microsoft.com/en-us/library/bb549277.aspx)
- [ToList()](https://msdn.microsoft.com/en-us/library/bb342261.aspx)
- [ToLookup()](https://msdn.microsoft.com/en-us/library/bb549346(v=vs.110).aspx

[2016-05-22 08:19] lilling commented on #13
I have an incident class
[code]
iI get a Incident[] from the api.

Is there a way to get List<Incdient> directly instead of loop over the arry and initilize every object?

[2016-05-22 10:31] kutyel commented on #13
Easy. So you basically receive an array and want a `List<T>` out of it. This can be done easily thanks to the fact that the *constructor* for the `List<T>` class **allows you to pass an array** for initialising purposes. That way you would avoid the iteration you mention. 😉

[code]

Hope that helps!

[2016-05-22 10:31] #13 closed

[2016-05-22 11:28] kutyel commented on #12
I think @Kurtz1993 can give you some advise in how to use the library with Angular 1.x. Looking forward to that. 😉

[2016-05-22 13:12] Kurtz1993 commented on #12
Mmm... I think that's because of the use of modules/namespaces. Are you targeting commonjs, amd or system modules?

And the typings issue must be on the typings.d.ts that doesn't have the reference of the linq.d.ts file.

[2016-05-22 13:37] Kurtz1993 commented on #12
Now that I tried to reproduce this error I get it. I think this issue can be part of how the TypeScript compiler was created. I've used to work with projects that used only namespaces, no `import` declarations.

I think that the best approach to follow here is not using namespaces and use CommonJS or AMD modules instead. If you use CommonJS modules, you can use Webpack as your compilation process

[2016-05-23 05:51] kutyel commented on #12
Thanks @Kurtz1993! I will add a webpack and browser sample to the readme file ASAP in order yo close this issue! :+1:

[2016-05-24 05:07] twoeo opened #15 "Lack of List<T>.Remove Method"
As title say,

lacking of Remove method as :

https://msdn.microsoft.com/en-us//library/cd666k3e(v=vs.110).aspx

[2016-05-24 06:03] kutyel commented on #15
Added to roadmap, do you actually need the `List<T>.Remove()` method **passing exactly the object you want to remove** or would it be more useful just to add the `List<T>.RemoveAt()` method to just delete it **given the index of the item**?

[2016-05-24 06:08] twoeo commented on #15
Maybe I need **list.Remove((v,i)=>boolean)** more.

RemoveAt can achieve by array.splice.

I use this currently:

[code]

[2016-05-24 06:20] kutyel commented on #15
I think that, in order to be consistent, I will add the following methods to close this issue:
- `List<T>.IndexOf()`
- `List<T>.RemoveAt()`
- `List<T>.Remove()`

In order to implement the function like this:
[code]

[2016-05-26 16:57] #15 closed

[2016-06-05 18:29] #12 closed

[2016-06-06 15:36] NickAb commented on #12
Thanks

[2016-06-06 16:56] kutyel commented on #12
@NickAb Your welcome! 😄

[2016-06-08 13:53] wupaz opened #16 "I hit an Unexpected token. (NG2 Project)"
Compile work but when I run I got :
[code]

Webpack install is necessary?

And btw why you didn't supply `.js`?

[2016-06-09 05:56] kutyel commented on #16
Could you add the **steps** you follow to reproduce the error? What tutorial of Angular 2 are you following? Maybe if I am able to reproduce it I will be able to fix it. Thanks in advance!

[2016-06-17 22:03] petrck opened #17 "Expression Func"
Hello, first of all, great project, thank you for it.

I would like to ask, if is possible to do something like this in C#:

[code]

And later in select: ... `Select(MyClass.ToModel()).First()`... etc.

Is there way, how to select properties to model with using LinQ.ts?

Thanks for your answer!

[2016-06-17 22:26] kutyel commented on #17
Seems quite easy to make the same in TypeScript, you just have to switch your mind and know that you are in the JavaScript world 😄  Maybe if you put this method in context or explain what do you really want it for I will be able to give you an approximation 😉

[2016-06-18 07:31] petrck commented on #17
@kutyel ok, let's look to this situation. I have this array:

[code]

here is using interface object IPageModel:

[code]

ISectionModel has only _name_ and _pattern_ string property

Now, I need to select by name and get only _sections_ and _name_ :
`var page = new List<IPageModel>(pages).Where(s => s.name == "Petr").Select(._..here I need property select_).FirstOrDefatult();
`
And this is all. A

[2016-06-18 07:55] #17 closed

[2016-06-19 22:15] kutyel commented on #17
@petrck I am glad you were able to find an answer to your question, it was a matter of LINQ knowledge in the end 😉

[2016-06-21 18:16] nanivijay opened #18 "module and namespace collision"
we are following namespace in the ts files and the linq.ts has module declarations. I can't import the modules because of the modules and namespaces are not working together. could you please help me how can i consume linq.ts module inside namespace?

[2016-06-21 20:35] #18 closed

[2016-06-22 05:39] kutyel commented on #18
@nanivijay Did you manage to solve the problem yourself? Could you explain here what you did to solve it so that others can benefit from it? Thanks in advance! :smile:

[2016-06-22 07:35] nanivijay commented on #18
@kutyel No :( I didn't. After going through most of the documentation on modules and namespaces i thought it's not the issue with the linqts package and closed the issue. If wrapped the linq.ts inside namespace , then i am able to use the linq methods .

[2016-06-22 08:49] kutyel commented on #18
@nanivijay That's right, it is not a good practice to mix **es2015** modules with namespaces, this last ones having a recent tendency to disappear! :wink:

[2016-06-22 09:05] nanivijay commented on #18
@kutyel why don't you wrap the linq.ts inside a namespace?
for eg: https://github.com/brunolm/LinqSharp/blob/master/src/linqsharp.ts

Is there any issues in wrapping inside a namespace?

[2016-06-22 09:29] kutyel commented on #18
Because namespaces are disappearing from the TypeScript scene, beeing replace by **es2015** modules, as I said before. If you have a look on real world projects, like [Angular](https://github.com/angular/angular) or [NativeScript](https://github.com/NativeScript/NativeScript) you will see what is the tendency right now...

[2016-06-22 09:32] nanivijay commented on #18
@kutyel thanks for the information.

[2016-06-22 09:54] kutyel commented on #18
@nanivijay BTW: you can support the project by giving it a :star: in GitHub! :tada:

[2016-06-23 09:37] kutyel commented on #18
@nanivijay [here](https://www.typescriptlang.org/docs/handbook/modules.html#do-not-use-namespaces-in-modules) is more information related to this topic, in case anyone wants to know more.

[2016-06-23 17:20] nanivijay commented on #18
@kutyel Thanks for the link. I went through them :)

[2016-06-26 19:18] bastienJS opened #19 "[Question] What Linq queries do you support so far?"
I am just looking for a good linq.net implementation done in TS.

Would you please be that kind and put a list of linq.net supported queries you have done so far on your main page?

Looking at your source code quickly I like it groupby,intersect,except all there :-)

[2016-06-26 19:45] kutyel commented on #19
Hi @bastienJS! If you have a look at the [tests](https://github.com/kutyel/linq.ts/blob/master/test/list.ts), you will see that there is pretty much everything of the LINQ spec covered and at least one example for each, that should be enough! :wink:

PD: If you liked the library, don't forget to give it a :star: in GitHub! 👍

[2016-06-27 19:52] kutyel commented on #16
I thinks it is about time to close this issue by lack of reponse. I cannot solve a bug I do not know how to reproduce.

[2016-06-27 19:52] #16 closed

[2016-06-28 12:28] kutyel commented on #19
@bastienJS ping... :)

[2016-06-30 10:21] kutyel commented on #19
The [documentation](http://kutyel.github.io/linq.ts/docs/classes/list/index.html) of the project is enough clear about the implementation of the LINQ spec.

[2016-06-30 10:21] #19 closed

[2016-07-13 17:09] vanthome opened #20 "String Representations of Query Possible"
Is it possible to obtain a string representation of a query as discussed here?:

http://stackoverflow.com/questions/30997682/getting-source-of-linq-query-and-serialize-to-string

Maybe even to parse a stringed query into a query?

[2016-07-14 11:40] kutyel commented on #20
I am sorry this is a LinQ **to Objects** implementation, there is no SQL query behind, nor any integration with any kind of database.

[2016-07-14 11:40] #20 closed

[2016-07-16 11:19] sn3h opened #21 "Cannot import TypeScript module"
Hi I get unexpected token export while trying to use `List<T>`...

[code]
console log:
[code]
using `node tsc -w`

tsconfig.json
[code]
es3, es5 does not make any difference

Got no idea what am I doing wrong :confused:

[2016-07-18 10:22] kutyel commented on #21
Thank you for submitting this bug! This used to work a couple versions ago... you can fix it if you manually compile the library to `.js` and then use it (BTW: do you want to use LINQ for node or for the browser? If it is the browser, have a look at the https://github.com/kutyel/linq.ts/blob/master/readme.md).

I will close this when I provide a good-for-everything solution whether I have to provi

[2016-07-27 07:27] jbrekle opened #22 "wrong sorting with multiple ThenBy's"
Hi,
I tried using your library but I have a issue with multiple ThenBy's - it seems the last ThenBy has precendence over the first when it shouldn't.

[code]

I constructed the example in a way that without the last ThenBy, the items should be sorted reversed. The last ThenBy should have no effect because there are no equalities in the first two sort steps. But it does.
Is there something wrong in

[2016-07-27 07:36] kutyel commented on #22
Hi @jbrekle! I would have to look at the code... but the `ThenBy()` function was far the **trickyest** to implement, so it might be a bug. Thanks for reporting it!

[2016-07-27 08:40] jbrekle commented on #22
Thanks for the fast reply.
I also checked with .NET:

[code]

That is sorted as I expect.

[2016-07-27 08:57] jbrekle opened #23 "d.ts is not uptodate with implementation"
I see that at least IndexOf, Remove, RemoveAll and RemoveAt are missing.
Then there are some overloads with optional parameters are missing but I am not sure whether that is on purpose.
I could provide a pull request.

[2016-07-27 08:59] kutyel commented on #23
You are right, compiled type definitions are not updated, you are very welcome to submit a PR! :smile:

[2016-07-27 09:36] #23 closed

[2016-07-28 06:01] #22 closed

[2016-07-28 06:52] #21 closed

[2016-08-27 07:18] Meai1 opened #26 "Fix module for browser/node"
d:\TypeScriptSamples\warship>webpack
Hash: 396f0bfb9d565b6f60f0
Version: webpack 1.13.2
Time: 29ms

ERROR in Entry module not found: Error: Cannot resolve 'file' or 'directory' ./app.ts in d:\TypeScriptSamples\warship

d:\TypeScriptSamples\warship>

[2016-08-29 07:39] kutyel commented on #26
I think this might be due to the fact that I change the location of the compiled `.js` files, should be easy to fix. I will give it a go when I have a sec.

[2016-08-29 08:00] Meai1 commented on #26
no i just had to name it app.ts, but i still couldnt get it to work. i included the generated bundle.js but the tsc compiler still complained about not finding the linqts module

[2016-09-23 22:30] Kurtz1993 commented on #26
Please check PR #27 that could be the fix for this issue

[2016-09-23 22:44] Kurtz1993 commented on #26
Hmm... maybe needs some work, will be testing more tonight

[2016-09-23 22:52] kutyel commented on #26
Fixed in #27, thanks @Kurtz1993!

[2016-09-23 22:52] #26 closed

[2016-09-23 22:54] kutyel opened #28 "Update to TypeScript 2.0"
The guide for this issue is quite simple, you just have to check the following link:

http://www.typescriptlang.org/docs/release-notes/typescript-2.0.html

After that you will notice that there are many changes to be made to the `linq.ts` file. Luckily, because is TypeScript, once you change the version from the `package.json` and re-run `npm install` all the warnings will help you accomplish your

[2016-09-30 12:22] kutyel commented on #28
Actually I was thinking about compiling with the `--strictNullChecks` flag, that certainly will require some changes in the source code, plus I want to use **union types** and maybe the new type **never**, that's why this issue is not so easy to close 😉

[2016-10-04 08:50] kutyel opened #31 "Coverage 100%"
I made this library following TDD principles, therefore every method is very well tested, however, It seems that something might be missing because coverage is not 100%, I would really like to know what it is and get it done! 😉

[2016-10-12 18:23] kutyel commented on #31
Closed thanks to #32

[2016-10-12 18:23] #31 closed

[2016-10-27 20:40] HarelAshwal opened #33 "add to Primitive extension method"
LK"I

Hi,

Have you considered adding toPrimitive extension method?
In that case , we can easily convert the LINQ List object into TypeScript array primitive.

Harel

[2016-10-28 11:47] kutyel commented on #33
Hi!

That is what the [`.ToArray()`](https://github.com/kutyel/linq.ts/blob/2bc4e4b78f0c32ba9a5ae09883967d8d3a7f110f/test/list.ts#L491-L493) function is for! :wink:

Greetings,

kutyel.

[2016-10-28 11:47] #33 closed

[2016-11-16 11:09] mtauzin opened #34 "First should throw if no elements in list"
Like the Single function that throws an error when there are not exactly 1 element in the list,, the First (and also Last) function should throw if the list is empty and the ElementAt function should also throw if the provided index exceeds the list length.

[2016-11-16 11:23] kutyel commented on #34
Can you please back up that with links to the LINQ reference page? 😉  I'd be happy to mark it as a bug and fix it (if you don't feel like making a PR yourself) 😄

[2016-11-16 11:52] mtauzin commented on #34
Here are the links :
[First](https://msdn.microsoft.com/fr-fr/library/bb291976(v=vs.110).aspx)
[Last](https://msdn.microsoft.com/fr-fr/library/bb358775(v=vs.110).aspx)
Exceptions : InvalidOperationException : The source sequence is empty.

[ElementAt](https://msdn.microsoft.com/fr-fr/library/bb299233(v=vs.110).aspx)
Exceptions : ArgumentOutOfRangeException : index is less than 0 or greater than or

[2016-11-16 11:59] kutyel commented on #34
Thanks!

[2016-11-23 13:35] mstrzoda opened #35 "No insert method"
Would be nice if we could use the insert method like this one: https://msdn.microsoft.com/pl-pl/library/sey5k5z4(v=vs.110).aspx

[2016-11-24 10:32] #35 closed

[2016-12-12 12:00] #34 closed

[2016-12-12 12:20] kutyel opened #37 "Add browser build"
Add webpack as a dev dependency and provide a browser distribution built-in, therefore erase all the browser no-longer-needed stuff on README 😅

[2016-12-14 09:07] #28 closed

[2016-12-14 11:06] #37 closed

[2016-12-16 19:50] JPaulDuncan opened #38 "First() and FirstOrDefault() returns T | Error"
I'm having issues where I expect:

[code]

DoStuff() doesn't work because `this._fooList.FirstOrDefault()` isn't returning MyThing, it's returning `MyThing | Error`.

Or am I misusing this thing?

[2016-12-19 07:52] kutyel commented on #38
You are right, the `OrDefault()` part of the function should handle the exceptions, according to the [docs](https://msdn.microsoft.com/en-us/library/bb340482(v=vs.110).aspx). This is an easy fix though, and will do in no time 😉  👍

[2016-12-20 16:16] JPaulDuncan commented on #38
Also, it throws the "The source sequence is empty" if the predicate returns no items for First():

private _foo: MyThing;
private _fooList: List<MyThing>;
get Foo(){return _foo;}
set Foo(value : MyThing){ _foo = value;}
DoStuff(){
 Foo = this._fooList.FirstOrDefault(x=> x.id == "asdf"); // THERE IS NO "asdf" element in _fooList -- Exception
}

-- This is happening with the if()..else() in the Firs

[2016-12-29 13:57] lorenlew opened #39 "cannot find module."
I had to change to
  "typings": "dist/linq.d.ts" instead of
  "typings": "linq.ts"
in **package.json** in order to find the module with
import { List } from 'linqts'; in the typescript file.

[2016-12-29 14:21] kutyel commented on #39
Looks like an easy fix, feel free to make a PR if you feel like doing it, if not I will do it this evening :wink:

[2016-12-29 18:58] #39 closed

[2016-12-29 19:03] kutyel commented on #39
@lorenlew fixed, BTW support the project by giving it a ":star:" in GitHub! ;)

[2016-12-30 23:14] balthier82 opened #40 "Cannot find module ".""
Hi,

when I run `ionic serve` on Windows command prompt, the google chrome developer console throws the following error:

in file `<project dir>\node_modules\linqts\dist\linq.js` at line 8.

The content of the `linq.js` file is:

[code]
What can be the problem?

Thanks in advance.

[2016-12-30 23:19] wadenweh opened #41 "Errors in Angular2 (Angular cli) application after updating from 1.6.1 to version 1.7.0"
Hi,
I am using linqts within an angular-cli project.
There is a problem with linqts, since I updated from 1.6.1 to 1.7.0.
I am not sure, if it is a webpack or angular-cli problem - or just my fault.
Maybe someone here can help.

system: windows 7
node:  v7.3.0
npm: 4.0.2

My project uses angular-cli version 1.0.0-beta.24.
When updating linqts to version 1.7.0, the angular 2 app throws this error:

[2016-12-30 23:39] kutyel commented on #40
Please try upgrading to v1.7.1 and it should be fixed :wink:
On Sat, 31 Dec 2016 at 00:14, balthier82 <notifications@github.com> wrote:

[2016-12-30 23:39] kutyel commented on #41
Please try upgrading to v1.7.1 and it should be fixed :wink:
On Sat, 31 Dec 2016 at 00:19, wadenweh <notifications@github.com> wrote:

[2016-12-31 00:06] wadenweh commented on #41
Hi,  thank you for the fast response!

I updated linqts to 1.7.1. but the same error still appears.

[2016-12-31 12:08] balthier82 commented on #40
I updated the library to version 1.7.1 but the problem persists.

[2017-01-11 13:12] #38 closed

[2017-01-12 10:09] kutyel commented on #40
Can you try the solution provided in https://github.com/kutyel/linq.ts/pull/43#issuecomment-272123019 ? Thanks in advance!

[2017-01-12 10:16] kutyel commented on #41
Hi! Can you try the solution mentioned at https://github.com/kutyel/linq.ts/pull/43#issuecomment-272123019? Thanks in advance! 😉

[2017-01-12 12:34] zskovacs commented on #41
I could reproduce your problem. It looks like WebPack cannot load linq.ts if it is compiled as UMD module. If I recompile it to commonjs, then it works fine. But I'm not sure this is a linq.ts problem. I tried it with SystemJS and it could handle it even if I used it as UMD.

[2017-01-12 13:26] kutyel commented on #41
@kentcdodds Hi Kent! Sorry for mentioning you but I know you have dealt with this problem before, is there any way from my library that I can support both webpack/SystemJS and the UMD modules that I already have or it is a matter of how people use my library? 😟  This also happens in #40.

[2017-01-12 16:29] kentcdodds commented on #41
Hey @kutyel, I generally distribute a UMD version as well as a CommonJS version of my modules. Watch [this](https://egghead.io/lessons/javascript-add-a-browser-build-to-an-npm-module) for more info. One important bit that's not noted in the video is that your `package.json` `main` is set to the CommonJS version. Also, in my video I'm using babel to generate the CommonJS version of my module, but y

[2017-01-13 20:45] wadenweh commented on #41
Hi, @kutyel, I installed linqts 1.7.2. now I have another error. I do not know if it has anything to do with linqts, because the version 1.6.1 is not avalable anymore.
With 1.7.2 The error looks like this:
[code]
I try to friggle an CommonJs Verison of linqts. I am not an expert, but I will try and maybe it will help/work.

[2017-01-14 00:22] wadenweh commented on #41
Hi @zskovacs.
I can confirm, that changing the module output to es6 or commonjs solves the problem.
I changed .tsconfig to:
[code]
and ran ```tsc```.
After replacing  ```node_modules/linqts/dist/linq.js``` with its commonjs version, and rebuilding, the errors are gone.

Thank You for the solution!

[2017-01-14 16:07] kutyel commented on #41
Ok, it seems to me that is the same error that in #40 then, I am closing this in favor of it to keep track of the issue in just one place, thank you everyone! 😉

[2017-01-14 16:07] #41 closed

[2017-01-16 22:09] #40 closed

[2017-01-16 22:19] kutyel commented on #40
Can someone please confirm that this error is gone with v1.7.3? Thanks in advance! 😉  cc: @balthier82 @Zoxive @abbasmhd @jamesrichford

[2017-01-17 00:41] wadenweh commented on #40
Confirm!
Tahnks @kutyel. No errors, nice!

[2017-01-26 07:40] isc30 opened #45 "Undefined: Performance and logic"
Hi,

I noticed that you are using `undefined` as default value in `FirstOrDefault`, etc.

As seen [here](http://stackoverflow.com/questions/7283577/speed-of-comparing-to-null-vs-undefined-in-javascript), checking for `null` is way faster than `undefined` (and makes more sense from the design perspective).

What about me creating a PR to change all `undefined` to `null` when it makes sense?

[2017-01-26 07:47] isc30 opened #46 "Array -> List"
What about having something like:
[code]

[2017-01-26 08:16] kutyel commented on #46
Sorry, this library's goal is to mimic the API from .NET LINQ, which does not have such method in it's `Array` definition. According to [this](http://stackoverflow.com/questions/2408367/net-converting-simple-arrays-to-list-generics) answer from StackOverflow, converting one `Array` to a `List` is as easy as passing it to its constructor:
[code]

[2017-01-26 08:17] kutyel commented on #45
Of course! Feel free to do any PR you want! As long as it passes all the tests I will merge it without a problem 😉  (maybe you can even try to do some *benchmarking* agains your PR to test wether there is a real improvement as well). Thanks in advance!

[2017-01-26 08:53] isc30 commented on #46
C# Array has [GetEnumerator()](https://msdn.microsoft.com/en-us/library/system.array.getenumerator(v=vs.110).aspx) that returns IEnumerable (the one you call List in your code).

Btw as IEnumerable has one extension method called [ToList()](https://msdn.microsoft.com/en-us/library/bb342261(v=vs.110).aspx), you can call `.ToList()` in a `Array<T>`.

Demo:
[code]
`>> 2,3,4,5,33`

[2017-01-26 11:44] isc30 commented on #46
So, are you doing this?

[2017-01-26 12:18] kutyel commented on #46
I am opening it for discussion, but I personally don't like the idea of modifying prototypes as part of this library, anyone wanting this behaviour can easily do it themselves just as you mentioned.

[2017-01-26 12:44] isc30 commented on #46
Yep, I agree that changing native prototypes isn't a good idea. I open another issue to discuss other topic. You can close this one

[2017-01-26 12:56] isc30 opened #47 "MissInheritance of Enumerable"
In short words: everything must inherit from Enumerable

Currently on C#:

## `Enumerable<T>`:
    - Select
    - Where
    - First, Single
    - FirstOrDefault, SingleOrDefault
    - Basically all filter / select based methods

## `List<T>` extends `Enumerable<T>`
    - All inherited stuff
    - Add, Delete, DeleteWhere (or DeleteAll), ...
    - OrderBy, OrderByDesc

## `SortedList<T>` extends `L

[2017-01-26 12:56] #46 closed

[2017-01-26 12:59] kutyel commented on #47
You are right, the classes of the library are not exactly the same as in the .NET version, I always wanted to fix this, but I could not find an easy way to see the whole tree of methods, inheritance, etc.

[2017-01-26 13:05] isc30 commented on #47
I could help you, np.

Im working on a fully featured web framework and i would like this lib to be part of one module :D

[2017-01-26 13:22] isc30 commented on #47
ah que eres español tu también jajaj

[2017-01-26 13:23] kutyel commented on #47
sí jajaja por tu nombre lo tenía claro pero al ver que ponías Spain / Poland he dudado jajaja 😜

[2017-01-26 13:24] isc30 commented on #47
Es que trabajo en polonia jaja

[2017-02-24 20:19] IngoBleile opened #49 ".Distinct() not working for complex types"
Hi,

the .Distinct() method seems to not work for complex types:

[code]
returns all three elements. It would be cool to be able to use

.Distinct(x => x.id);

Thanks for your help
Ingo

[2017-02-27 08:45] #49 closed

[2017-03-01 07:21] kutyel opened #52 "Bug: Distinct() does not work for complex types"
The same test case of `DistinctBy` should pass without providing any key selector, I wanted to refactor the **Distinct** function some time ago using this trick:

[code]

Nevertheless, this does not work either, help would be much appreciated.

cc: @abbasmhd @IngoBleile

[2017-03-02 12:17] fredrik-lundin commented on #52
I guess this doesn't work since `Set` is using `===` internally, and `{ a: "a", b: "b" } === { a: "a", b: "b" }` is false.

To just make it work, this code should do it (haven't done a lot of testing though). But order of the properties are important using this strategy. Methods on the objects are also not allowed for this to work.

[code]

[2017-03-02 12:57] vendethiel commented on #52
Comparing JSON encodings is **really** slow, and will not show all properties.

[2017-03-02 13:42] fredrik-lundin commented on #52
@vendethiel, i tried it with an array of 1 000 000 objects, and that took less than 2 seconds in my browser. So yea, not blazing fast, but I don't know about *really* slow.

[2017-03-02 14:12] vendethiel commented on #52
That's insanely slow. Dealing with a million of objects isn't "out of this world", I've had to work on applications that did rendering with more (no, no way to reduce the number the number of things...), and this was the major bottleneck when doing update diffing. Using a recursive comparison strategy (like lodash / underscore have) was several orders of magnitude fasters.

[2017-03-02 14:13] fredrik-lundin commented on #52
@vendethiel, you are absolutely right!

[2017-03-03 08:08] kutyel commented on #52
What about this comparison, would it be more performant?

[code]

cc: @fredrik-lundin @vendethiel

[2017-03-06 15:37] AcousticGuitar opened #53 "Uncaught ReferenceError: exports is not defined"
Typescript compiler options are:

[code]
Upon Load the message _Uncaught ReferenceError: exports is not defined_ is seen in Chrome console pointing to line 372.

<img width="300" alt="exports" src="https://cloud.githubusercontent.com/assets/10676026/23616717/4aa1a2a4-0250-11e7-904b-9916a71d291b.PNG">

Attempts to install dependencies via NPM Update and or Install for this package doesn't work.  Pl

[2017-03-08 07:29] kutyel commented on #53
Hi!

The library already provides an UMD compilation for browser, so there is no longer need to compile the code of the library itself. If you use it on Node.js, there is also a commonjs module. Try using the browser version and you should have the `exports` problem anymore!

I will reopen this issue if its an actual bug from the library 😉

[2017-03-08 07:29] #53 closed

[2017-03-13 13:27] AmirImam opened #55 "After importing linqts error showed: linqts not found"
Hi, I am using a [linqts](https://github.com/kutyel/linq.ts) with angular 2 typescript (TypeScriptToolsVersion 1.8) project on vs 2015.
But when i do
`import {List} from 'linqts';` and some code related to linq, it gives me an error on the browser
**the server responded with a status of 404 (Not Found)**
and this is my tsconfit.json
[code]
I don't know what i miss .. so I need some help with that

[2017-03-13 13:34] kutyel commented on #55
Are you using the lastest version of linqts? Please check #53 as well.

cc: @Zoxive @abbasmhd @Kurtz1993 @jamesrichford Is browser version still a problem? Having the UMD module should take care of that...

[2017-03-13 14:03] AmirImam commented on #55
I am sorry, I don't understand you but I think you mean change "module":"system" to "module":"umd" .. if you mean that so I did it and nothing happened, if something else so please explain it :)

[2017-03-14 07:39] AmirImam commented on #55
Some extra details
 when I use "system" the error is "linqts not found"
 when I use "UMD" the error is "boot.js detected as register but didn't execute."
 when I use "commonjs" the error is "require is not defined"

[2017-03-20 20:20] Neir0 opened #56 "GroupBy and then select"
Maybe I missed something but it looks like group by doesn't return collection and as result it is not possible to use Select with some aggregate operation.

What about returning IGrouping?

[2017-03-21 07:30] kutyel commented on #55
Please check the answers at #12, #16, #41 who had a the same issue and solved it. This is not a bug from the library. 😉

[2017-03-21 07:30] #55 closed

[2017-03-21 07:31] kutyel commented on #56
You are right, right now the `GroupBy` function is not very usable due to the returning type, this could be very much improved and PR al welcome! 😉 👍

[2017-03-22 22:44] stefan505 opened #58 "Extension methods case question"
I know that .NET types all use Pascal casing (e.g. FirstOrDefault), but would it not make more sense to have this lib follow the JS conventions of Camel casing (e.g. firstOrDefault)?

[2017-03-23 08:07] kutyel commented on #58
Hi! Thanks for your question. It is true that the JavaScript community adopted the camel case convention, nevertheless, being this project in **TypeScript**, there isn't any specific convention already and I wanted to preserve the API from .NET exactly as it is (after all its a project focusing .NET Developers who want to give *JavaScript* development a try 😉 ).

[2017-03-23 08:07] #58 closed

[2017-03-24 16:22] Kurtz1993 opened #59 "Any() doesn't have empty overload as .NET"
I found that when trying to use the .Any() method I'm getting an error because it's always expecting a predicate.
In .NET there's an overload that doesn't require a predicate and returns a boolean by checking if there are any elements (something like ```javascript this._elements.length > 0 ```

I will try to prepare a PR as well for this

[2017-03-24 17:13] #59 closed

[2017-03-27 18:13] greenkeeper[bot] opened #61 "An in-range update of typescript is breaking the build 🚨"
## Version **2.2.2** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/kutyel/linq.ts/compare/greenkeeper%2Ftypescript-2.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-04-27 14:05] rhyek commented on #52
What about using [deep-equal](https://www.npmjs.com/package/deep-equal)?

[2017-04-27 14:09] vendethiel commented on #52
@kutyel that wouldn't be deep

[2017-04-27 14:11] kutyel commented on #52
You are all welcome to provide a PR if you feel like contributing to the
project 😉
On Thu, 27 Apr 2017 at 16:09, ven <notifications@github.com> wrote:

[2017-04-27 16:02] rhyek commented on #52
@kutyel: I could provide a PR, but before I work on it I'd like to know your thoughts. IMO, `Distinct` and `DistinctBy` should use `GroupBy` internally and just return the result's keys. `GroupBy` should return a `Map` so keys can be complex objects. The return type for `GroupBy` would need to change and that would probably mean fixing #56 as well.

If that sounds OK to you I'll go ahead and work

[2017-04-27 18:38] kutyel commented on #52
Sounds great! Thanks for your hard work! 👍🏼
On Thu, 27 Apr 2017 at 18:02, Carlos Gonzales <notifications@github.com>
wrote:

[2017-04-28 00:14] zyarnold opened #65 ".ToArray() confusing description? "Copies the elements of the List<T> to a new array.""
In your documentation you mentioned that List.ToArray() copies the elements of the List to a new array. But its actual function upon testing returns the same reference of the elements(which is good by the way because I would want to via linq and end up getting a new copy of the array of objects I want to modify) and not a copy of the new array.

[2017-04-28 06:32] kutyel commented on #65
You are right, this is due to the fact that the documentation for each function is copied right away from .NET LINQ's spec, that's why it might differ from it's actual implementation. If you feel like updating the comment and providing a PR you will be very welcome 😉

[2017-04-28 10:28] #61 closed

[2017-04-30 21:40] zyarnold commented on #65
Nah, Everything is good. I'm just curious if .ToArray() was really intended to copy a new array or return the same reference to those element list. I'm using linq.ts right now for a presentation project. And I want to be sure about the ToArray() function just in case it might be updated in the future to "copy new array" and might make breaking changes to my project :)

[2017-05-02 06:21] kutyel commented on #65
Ok, I'm glad everything is fine, I wouldn't change something that importante without listing it as a breaking change anyway hehe 😉

[2017-05-02 06:21] #65 closed

[2017-05-11 07:34] isc30 commented on #45
Hi again! after thinking about this, I realized that the current status (using undefined) has more sense than null on cases like FirstOrDefault **BUT** we should mark return type as `T | undefined`.
I'll take care of that when I have time 😄

[2017-05-11 07:35] isc30 commented on #45
I will close this one and create a new issue for explicit undefined as return type

[2017-05-11 07:35] #45 closed

[2017-05-11 07:37] isc30 opened #66 "Explicit undefined as return type"
Methods like FirstOrDefault need explicit `undefined` as return type (mostly for intellisense and compilation errors in strict mode)

`public FirstOrDefault(): T;`
will become
`public FirstOrDefault(): T | undefined;`

And all cases like this 👍
Any suggestions?

[2017-05-16 07:54] Stijnlb opened #68 "GroupBy using grouper function that returns complex type doesn not work"
When performing a GroupBy on a List<<T>> using a grouper function that returns a "complex" anonymous type, GroupBy returns a flat array of objects (untyped "T" objects) instead of a list of key/value pairs as it does when grouping with a grouper function that returns a primitive type.

e.g with a type.

[code]

Not working:

[code]
I am currently working around this by creating a primitive returni

[2017-05-16 18:14] kutyel commented on #68
@Stijnlb Is this the same bug as in #56?

[2017-05-16 20:58] Stijnlb commented on #68
@kutyel  No, to my understanding it is not ... #56 is about the person not liking the return type and rather getting IGrouping objects returned ... In my example, GroupBy is simply not working when using a grouper function that returns an anonymous type .... it just returns a flat untyped array corresponding to the original List of T ...

When using a grouper function that returns a primitive type

[2017-05-17 06:45] kutyel commented on #68
OK, will work on this when I have time. Can you provide a more detail example with source data and maybe a **.NET Fiddle** that shows how this works on .NET? Thanks!

[2017-05-22 09:43] isc30 commented on #47
Hey again!
I decided to start a new **TsLinq** implementation from scratch.
This new implementation is iterator based, without copying memory all the time and O(n) for most operation chains.
If you want to help, we can make it really nice 😄
https://github.com/isc30/TsLinq

[2017-05-22 10:16] kutyel commented on #47
Hi! I don't think creating your whole new library is a good approach to solving problems (*I was waiting for your PR to fix this issue*), I understand if you wanted to do it for learning purposes of your own though, but as it regards to this library, I already spend enough time and effort in making it the way it is, and don't feel like going through that process again to do something that I alread

[2017-05-22 11:11] isc30 commented on #47
Yep I've seen that one.
It has some problems: its ES6 and I want to run it on old mobile browsers (ES5). Also, does bad practices like changing prototype, casting things to `any`, not being 100% strongly typed and having memory "leaks") 😢
Don't worry, I will contribute with correct interfaces/design here

[2017-05-22 11:24] kutyel commented on #47
Glad to hear, it seems that we are all trying to do the ***best*** implementation possible within our possibilities haha 😅

[2017-05-23 10:21] senglory opened #69 "Weird ZoneAwareError: (SystemJS) Unexpected token < SyntaxError"
My code in TS:

[code]

This code gives no errors upon TS compiler run but explodes in my browser.

[2017-05-23 10:41] kutyel commented on #69
Please check the answers at #12, #16, #41 who had a the same issue and solved it. This is not a bug from the library. 😉

[2017-05-23 15:57] senglory commented on #69
#12 - don't understand how it corresponds with my issue. Could you please shed some light on it?

#16 - closed by no answers

#41 - I use linqts with the latest version (1/8/2 if I'm not mistaken)

Still have this issue opened...

[2017-05-24 06:42] kutyel commented on #69
Ok, fair enough. Please share your config of SystemJS and tsconfig etc with steps to reproduce. I am already serving with the library.

1. UMD module (browser)
2. CommonJS module (node)
3. Source code in TypeScript to be compiled manually

There is no `ZoneAwareError` object anywhere in this library, which makes me think that is probably some miss configuration rather than an actual bug in this li

[2017-05-24 17:52] senglory commented on #69
[https://1drv.ms/u/s!ArGxIywiws8MgUndQs9bfUH_E6UA](url)

Here's my project on Angular 2.

[2017-05-26 07:19] kutyel commented on #69
The link is broken 😕

[2017-05-26 09:54] abbasmhd commented on #69
the url works you just have to copy and past it

[2017-05-26 09:57] kutyel commented on #69
Ok, will have a look when I find the time 😉

[2017-07-06 14:19] ryanelian opened #73 "Project has dependency to typescript?"
https://github.com/kutyel/linq.ts/blob/master/package.json

[code]

CMIIW, but shouldn't that be `devDependencies` instead? I don't see any TypeScript imports in https://github.com/kutyel/linq.ts/blob/master/linq.ts

I just don't feel comfortable downloading / having a 26 MB dependency inside my `node_modules` for a library that is only 50 KB in size...

[2017-07-06 17:58] kutyel commented on #73
you are right, will remove it and release a new version without that depencency 😉

[2017-07-06 18:24] kutyel commented on #73
Done in v1.8.3 👏

[2017-07-06 18:24] #73 closed

[2017-08-09 21:52] Llarian opened #78 "Help on GroupBy"
Hi, how can I convert the result of the GroupBy to something enumerable?

[2017-08-10 06:15] kutyel commented on #78
The quick answer is that right now, you can't (#56), but depending on what you want to do, you can use some *standard JavaScript functions* to work with the object that the `groupBy` function returns:
[code]
Hope this helps!

[2017-08-11 08:22] Llarian commented on #78
It did! You can use custom pipes to use this with ngFor: https://stackoverflow.com/a/37046743

[2017-08-11 08:22] #78 closed

[2017-08-11 09:06] kutyel commented on #78
I am glad you fixed it! Since you are working with Angular 2... do you use webpack or SystemJS? Would you give a hand with #69? Thanks! 😄

[2017-08-11 09:08] kutyel commented on #78
BTW! Support the library by giving it a ⭐️  in GitHub and sharing it with your colleages! 😉 👍

[2017-08-17 15:47] ikuriel opened #81 "Error: InvalidOperationException: The source sequence is empty."
Error: Uncaught (in promise): Error: InvalidOperationException: The source sequence is empty.
Error: InvalidOperationException: The source sequence is empty.

When an array is empty
example:

[code]

EDIT: i think the error is trhown after Where (because nothing is found) and First() of empty should returns "undefined", not Error.

[2017-08-18 06:10] kutyel commented on #81
Hi, it is not a bug, is a controlled exception, according to [.NET's spec](https://msdn.microsoft.com/en-us/library/bb291976%28v=vs.100%29.aspx?f=255&MSPPError=-2147217396) for the method `First()` it *should* throw an exception if the sequence is empty.

[2017-08-18 06:10] #81 closed

[2017-08-18 18:42] ikuriel commented on #81
.NET's spec sucks, thats all, ty.

[2017-09-04 08:44] grofit opened #82 "SingleOrDefault doesnt accept predicate?"
In .net Linq you can do `myList.SingleOrDefault(x => x.someId == requiredId);` but I noticed in here there is no overload to support this like in .net.

https://msdn.microsoft.com/en-us/library/bb549274(v=vs.110).aspx

[2017-09-04 08:57] kutyel commented on #82
True, should be done, and the same goes for `Single()`, Pull Requests are welcome! 🎉

[2017-09-04 09:47] grofit commented on #82
PR raised for this.

[2017-09-04 10:14] #82 closed

[2017-09-18 12:27] kutyel commented on #69
Hi @senglory is this still an issue? Did you find a workaround? I know of many people in the A2/4 community using this library without problems, would like to close this....

[2017-09-23 15:03] #66 closed

[2017-09-23 15:04] #47 closed

[2017-10-03 13:30] kutyel opened #86 "Replace Webpack with Rollup"
Should be fairly easy and improve performance as well, in the end I just want the browser build, and Webpack is an overkill just for that.

---
cc: @alexjoverm 😉

[2017-10-03 14:25] Esslamb commented on #86
I can have a look at this tonight.

[2017-10-05 08:52] alexjoverm commented on #86
I could provide some guidance here on the steps to take in order to produce multiple optimized bundles, aside from moving to Rollup:

 - It should make a UMD bundle, referred from the [`main`](https://github.com/kutyel/linq.ts/blob/master/package.json#L5) property in package.json. This is compatible with all module systems
 - A ES5 FESM, referred from the [`module`](https://github.com/alexjoverm/t

[2017-10-05 13:55] kutyel commented on #86
Thanks for all the intel! I would go ahead and encourage you to do your own PR, that way at least you will have one useful contribution in this year's hacktoberfest! 😜

[2017-10-11 09:11] #86 closed

[2017-10-11 09:31] kutyel opened #89 "Add minified dist file"
Now that we are using Rollup, should be easy to output another file `linq.min.js` with the minified bundle as well 😄

Happy #hacktoberfest! 🍻

[2017-10-11 09:47] kutyel opened #90 "Support for ESModules"
Now that we are using Rollup, would be nice to compile an `linq.mjs` version (or `linq.es6.js`?) with es6 and native ES modules 😄

*Hint: this implies to modify the current `tsconfig.json` to compile to `es2015` and let Rollup do the rest (just bundling)*

Happy #hacktoberfest! 🍻

[2017-10-12 08:40] kutyel commented on #90
According to the standard, this improvement would require to modify `package.json` as follows:
[code]

(Thanks @alexjoverm for the [link]() ;)

[2017-10-12 15:57] alexjoverm commented on #89
For CDN purposes this would come in handy, such as https://unpkg.com.

IMO this could be achieve better as a post-process step, using uglify on the umd bundle after it's generated, say running a `postbuild` command. Otherwise, doing it in Rollup (which is [not suggested](https://github.com/rollup/rollup/issues/799)) means to create the bundle several times an it's not its purpose.

[2017-10-16 06:47] kutyel commented on #69
This should be closed, added and explicit export for Angular 2 project which specifically points you to the TS code to be compiled on usage.

[2017-10-16 06:47] #69 closed

[2017-10-30 20:21] rxreyn3 opened #94 "Wrong signature of Select() or Distinct() methods"
Hey guys and/or gals, just wondering if how I can avoid code like this while using ling.ts:

[code]

And instead simply write:
[code]

Without the compiler warnings.

[2017-11-16 17:31] jeusdi opened #96 "Custom providers or only collections"
Does it support the possibility to work with providers? Or it only works on collections? For example, could it be possible to create an odata provider?

[2017-11-19 13:11] isc30 commented on #45
I finally did it from scratch, improved version can be found here:
https://github.com/isc30/linq-collections

[2017-11-19 13:13] isc30 commented on #94
you can't, it has incorrect definitions for StrictNullCheck.
Try another libs like https://github.com/isc30/linq-collections
This one seems unmaintained

[2017-11-19 14:45] rxreyn3 commented on #94
Ok thanks!

-Ryan

On Sun, Nov 19, 2017 at 6:13 AM, Iván Sanz Carasa <notifications@github.com>
wrote:

[2017-11-20 07:32] kutyel commented on #94
You can provide a PR and I'll be happy to merge 😄  This library is not unmaintained at all 😉

[2017-11-20 07:33] kutyel commented on #96
I am afraid this library only handles collections for the moment 🙃

[2017-11-20 07:33] #96 closed

[2017-11-20 07:37] isc30 commented on #94
20 days without response and isn't unmaintained, ok

[2017-11-20 07:55] kutyel commented on #94
I had an Issue with the email notifications but now is solved and the statistics of the library plus the *4k downloads/month* proves my point 🙃

[2017-11-20 12:41] isc30 commented on #52
Hi all, it's **9 months** since the bug was opened and we still don't have a fix.
Time to switch to a **better lib**? Check ES5 compatible https://github.com/isc30/linq-collections

[2017-11-20 13:08] vendethiel commented on #52
You're an ass.

[2017-11-20 13:37] isc30 commented on #52
Check this, its **exactly** what he did some hours ago
https://github.com/isc30/linq-collections/issues/11

[2017-11-20 13:49] vendethiel commented on #52
Awful :|.

[2017-11-20 13:51] isc30 commented on #52
i know

[2017-12-04 12:17] jeusdi commented on #96
Is there anyway to create a custom provider, I mean, is this library designed in a way to be able to extend it creating a custom provider?

[2017-12-04 13:52] kutyel commented on #96
I don't think so, you would have to create something like your own wrapper of this library that connects to a particular DDBB (mongoDB, for example) and that changes every time because they are different between each other. Is that what you are looking for?

[2017-12-05 14:26] jeusdi commented on #96
Sorry, please take a took on [here](http://www.c-sharpcorner.com/blogs/linq-providers1).

Linq is only an query dsl. So there're several providers that translate these queries to odata, collections, sql, excel, and so on... you are able to create your own linq provider using helping-libraries like [re-linq](https://github.com/re-motion/Relinq).

Do you know what I mean?

[2017-12-05 14:30] kutyel commented on #96
I see, this library would be **LinQ to Objects**, no idea of how to implement a generic LINQ library that would allow you to implement your own LinQ to *Whatever* 😕

[2017-12-06 08:36] abbasmhd commented on #68
@Stijnlb can you provide a test case or an example please

[2017-12-13 12:44] JaggerJo opened #100 "why not extend the plain JavaScript 'Array' type ?"
Is there a reason why these methods are not availiable on any plain JavaScript Array ?
We could simply add them to the Prototype, right ?

For Example
[code]
and
[code]

[2017-12-13 17:42] kutyel commented on #100
Actually its a very interesting question! Thanks for asking! The answer is mainly that extending prototypes in JavaScript its a **very bad practice**. It's only allowed to add missing standard features (pollyfils) that are not yet implemented. Generally its a much better pattern to wrap an abstraction and use that instead, which is exactly what the `List` component is, a wrapper of an internal JS

[2017-12-13 17:42] #100 closed

[2017-12-13 17:44] kutyel commented on #89
This will be achieved very soon by **microbundle** out-of-the-box when @_developit implements the TypeScript support 😉 👍

[2017-12-14 09:24] kutyel commented on #100
BTW: you can support the library by sharing it and giving it a ⭐️  in GitHub! 😉

[2018-02-13 12:11] kutyel commented on #52
Hi @rhyek! Any advance on this? I was going to fixit myself now but would not want to override your work if you have any progress on this 😉

[2018-02-13 17:02] rhyek commented on #52
Hey, @kutyel. I actually did do the fix for this, but it was during a very busy time for me and was having issues with the repo's precommit scripts (not 100% sure).

Some time later I built this https://github.com/rhyek/group-by-object. You mind find it or its implementation details useful.

Sorry!

[2018-02-15 11:07] #94 closed

[2018-02-15 11:08] kutyel commented on #94
@rxreyn3 🎉 🎉 🎉

[2018-02-15 11:10] kutyel commented on #52
This should do the trick https://github.com/kutyel/linq.ts/commit/d9346e61df0714cc2e64229bc68167d8c2db5859 but it's not working for some reason, any advice is welcome people! 😉  cc: @rhyek @vendethiel @fredrik-lundin

[2018-02-15 11:13] vendethiel commented on #52
The comments on `_equals` not being recursive stands in that commit

[2018-02-15 11:15] kutyel commented on #52
True, will work in improving that function and make it deep, although a PR would be also greatly welcome 😉

[2018-02-16 10:54] kutyel commented on #52
I am super glad to announce this will be fixed in the next release! 🎉 🎉 🎉 See: 153a37d792c28535826cd1b0395a36a10d493a83

[2018-02-17 23:06] #52 closed

[2018-02-21 08:45] #89 closed

[2018-02-21 08:46] #90 closed

[2018-02-24 12:17] DMW007 opened #114 "Provide types for linq.ts"
It seems that linq.ts doesn't provide any types, since no `@types/linq.ts` package exist and after installing the main package, I got no intellisense in VS Code using [TypeScript Importer](https://marketplace.visualstudio.com/items?itemName=pmneo.tsimporter). This forces me to manually type imports like `import { List } from 'linq.ts';` on every time I want to use linq.ts, which is very annoying a

[2018-02-25 21:58] kutyel commented on #114
Which package are you using `linqts` or `linq.ts`? The first one should have type declarations without having to import anything from the `@types` namespace, can you try it?

[2018-02-27 09:49] kutyel commented on #114
I've checked the TypeScript [documentation](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) regarding publishing and I am doing exactly what is required from a library author, the type definitions are shipped in the `/dist/index.d.ts` folder. It is not my concern that the plugin you use for you editor does not detect that type declaration files. Also, you can add th

[2018-02-27 09:49] #114 closed

[2018-02-27 11:30] lebdimaa opened #115 "'this' is undefined inside const declaration"
The compiled code transform 'this' to 'void 0' and I get an error " Cannot read property '_equal' of undefined".

https://github.com/kutyel/linq.ts/blob/49bbebd6025e1d4a632786f6e987bb5b53705555/index.ts#L11

[2018-03-02 13:44] kutyel commented on #115
wow huge mistake, I'll fix it ASAP, thx for reporting it! 👍

[2018-03-02 13:46] #115 closed

[2018-03-02 17:01] huserben opened #116 ""Syntax Error: Unexpected token..." happens on some Machines"
Hi

First of all, I really like your project as I'm coming from the .NET world and am quite used to the LINQ syntax. So this really simplifies a lot of things for me :-)

I have a question/issue, I'm not really sure if it is related to linqts itself or my way of using it. As I'm not really an expert in the node area this might be, but I hope someone can at least point me in the right direction.

S

[2018-03-03 20:17] kutyel commented on #116
Hey you are right sorry I did a quick fix yesterday, can you check with the latest version? (1.10.2) Thanks!

[2018-03-03 20:27] huserben commented on #116
Hi

I will check it tomorrow. I'll let you know once I tried.

Thanks for the quick responnse.

[2018-03-03 21:54] kutyel commented on #116
If it does not work you can always lock your dependency to `"linqts": "1.10.0"` (without the caret) and everything should work as before.

[2018-03-04 14:50] huserben commented on #116
Hi

so I saw that apparently version 1.10.2 was already part of the newest package of mine, so I tried it now with the fixed dependency to 1.10.0.

I'll let you know if it worked once I get feedback.

Many thanks for your support.

[2018-03-05 19:07] huserben commented on #116
Hi @kutyel

so it seems that it is resolved now with going back to version 10.0.0.
I'm not sure under what circumstances it failed and why exactly...however I can live with it.

Do you want to do more investigation on this or shall I close the issue?

[2018-03-05 21:22] kutyel commented on #116
I'm glad it solved your issue, I will continue to improve the library so feel free to try coming version 😉

[2018-03-05 21:22] #116 closed

[2018-03-07 14:22] haifoo opened #118 "UglifyJS error during gulp bundle --ship"
One of our projects use the library for querying against sharepoint lists.
The project runs ok on dev, but generates a build error once we try to build for production.

steps to reproduce:
1. create new ms spfx project using yoeman generator (webpart, o365 only)
2. npm install linqts --save
3. use library in code
[code]
4. gulp bundle --ship

returns this error:
[code]

reverting to v1.10.0 (`npm

[2018-03-08 11:29] kutyel opened #120 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-08 15:09] marlon-tucker commented on #118
I am also encountering this issue.

It seems a newer release is shipping ES6 code, with lambda functions. At the moment we are not using Babel to transpile down to ES5.

As this project does not mention the requirement for Babel to provide this functionality. Would you consider altering the publishing method to output ES5 compliant code?

[2018-03-09 10:11] kutyel commented on #118
Tomorrow I'll release a new version reestablishing the dist version to es5, should fix this issue and @huserben's one as well! 😄

[2018-03-09 16:25] huserben commented on #118
ok, thanks for the info. I'll consider updating when I release the next version of my task.

Thanks again for your support and quick responses.

[2018-03-10 12:34] #118 closed

[2018-03-10 12:35] kutyel commented on #118
:tada: This issue has been resolved in version 1.10.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/linqts)
- [GitHub release](https://github.com/kutyel/linq.ts/releases/tag/v1.10.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-10 12:36] #120 closed

[2018-03-13 07:38] haifoo commented on #118
thanks!

[2018-03-14 06:51] mstrzoda opened #122 "OrderBy sorts in ASCII style"
OrderBy sorts first big letters, then small and then special characters like language specific letters. List like this: "Ägypten", "Griechenland", "Deutschland" will be sorted in that way:
"Deutschland", "Griechenland", "Ägypten".  "Ägypten" should be first in that example.

[2018-03-14 08:30] kutyel commented on #122
Is this an issue? I mean, JavaScript can only order strings according to ASCII positions, if not you would have to provide your custom sorting according to your specific needs/language, how would you improve this? 😄

[2018-03-14 08:35] mstrzoda commented on #122
i think we could use at some point this function:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/localeCompare,

or we should allow devs to inject his own comparer like in original OrderBy:
https://msdn.microsoft.com/pl-pl/library/bb549422(v=vs.110).aspx

[2018-03-14 08:40] kutyel commented on #122
Great feedback! I think the most flexible solution is to implement the optional comparer parameter, and it is also an easy fix! 😉 Feel free to land a PR if you feel like it, if not I will fix it this week!

[2018-03-14 08:45] mstrzoda commented on #122
If you have some free time please do that, i have huuuuuuuge task to do by the end of the month (i don't know if i will have time for sleep :/)

[2018-03-14 10:43] #122 closed

[2018-03-14 10:46] kutyel commented on #122
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/linqts)
- [GitHub release](https://github.com/kutyel/linq.ts/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-14 10:53] mstrzoda commented on #122
great, big thx!

[2018-03-14 10:55] kutyel commented on #122
Hope you like the new test 😜 https://github.com/kutyel/linq.ts/blob/master/test/list.ts#L479-L484

[2018-03-14 13:42] mstrzoda commented on #122
schööööön!

[2018-03-17 19:18] Nimgoble opened #123 "Add to nuget"
Adding this to nuget would be really helpful for those of us that use Visual Studio and don't use node.

[2018-03-17 22:53] kutyel commented on #123
Sure! Do you have any idea how to publish the package there? 👍

[2018-04-20 21:20] julianodev opened #125 "List how extension"
Hello, how cool is this lib, but why do not you use it as an extension of type List? Then I would not have to use new every time I have a list and I want to use the methods I need to create a new instance of List that does not sound very cool to me

Thanks

[2018-04-21 13:12] kutyel commented on #125
Hi! Thanks for your love for the library, I'm glad you find it useful! In JavaScript/TypeScript, there is *no* `List` prototype, only the `Array` one, and it is generally not considered a good practice to modify native prototypes, rather, to build your own wrappers/abstractions and work with them. That is exactly what this library is! 😉

[2018-04-21 13:12] #125 closed

[2018-05-11 17:18] Zarepheth opened #126 "The "Dictionary" object returned by the "ToDictionary" method does not act like it would in C#."
As the Subject line says, the `Dictionary` object return from the `List.ToDictionay(keyFunc, ValueFunc)` method does not act like the `Dictionary` objects in .Net. More specifically, I expected to apply the LINQ functions to it, but they are not supported.

Ideally, we would be able to create a Dictionary object directly, rather than going through the List object.

For instance:
[code]

[2018-05-12 22:08] kutyel commented on #126
This is very similar to #56, because a dictionary is just a JS object, you can't really perform any operation afterwards, in this behaviour the library differs from C# obviously but I should came up with some way of doing it, any ideas? 😄

[2018-05-12 23:04] Zarepheth commented on #126
I tried doing my own implementation after writing my post, but was unable to accomplish a working item within the few hours between posting and end of the business day.

Using TypeScript, I had some issues specifying anything other than `number` or `string` for the Key type (`TKey` in my example). Worse, I had to explicitly set the indexer's type in some places. Although use of type constraints al

[2018-05-13 08:59] kutyel commented on #126
Nice, thanks for your work and investigation! I think it might be solved using native `Map`s, but I'm not sure if TypeScript can compile those down to es3/es5 😢

[2018-06-10 15:33] Talagozis opened #128 "ToList function from Array"
Wouldn't be great if there was a ToList() method to convert a javascript Array to List< T > ?
So a "new List< T >(arr)" could be written "arr.ToList()"

[2018-06-15 19:06] greenkeeper[bot] opened #129 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.5.3** of **[semantic-release](https://github.com/semantic-release/semantic-release)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/kutyel/linq.ts/compare/master...kutyel:greenkeeper%2Fsemantic-release-15.5.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <t

[2018-06-16 17:48] kutyel commented on #128
Hi! In order to do that I’d have to do a polyfill of a non standard function that modified the prototype of the Array object, which is generally a bad practice in both TypeScript and JavaScript 😉

[2018-06-16 17:48] #128 closed

[2018-06-20 21:54] greenkeeper[bot] opened #130 "An in-range update of ts-node is breaking the build 🚨"
## Version **6.1.2** of **[ts-node](https://github.com/TypeStrong/ts-node)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/kutyel/linq.ts/compare/master...kutyel:greenkeeper%2Fts-node-6.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <code>[ts-node](https://gi

[2018-06-21 21:35] greenkeeper[bot] opened #131 "An in-range update of tslint-config-standard is breaking the build 🚨"
## Version **7.1.0** of **[tslint-config-standard](https://github.com/blakeembrey/tslint-config-standard)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/kutyel/linq.ts/compare/master...kutyel:greenkeeper%2Ftslint-config-standard-7.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    <

[2018-06-25 14:37] greenkeeper[bot] opened #134 "An in-range update of prettier is breaking the build 🚨"
## Version **1.13.6** of **[prettier](https://github.com/prettier/prettier)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/kutyel/linq.ts/compare/master...kutyel:greenkeeper%2Fprettier-1.13.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <code>[prettier](https:

[2018-06-29 13:37] #129 closed

[2018-06-29 13:38] #134 closed

[2018-06-29 13:38] #131 closed

[2018-06-29 13:39] #130 closed

[2018-06-29 13:39] #123 closed

[2018-07-05 12:31] kutyel commented on #126
@Zarepheth you are soooo going to love tomorrow's PR... ❤️

[2018-07-07 08:19] #126 closed

[2018-07-12 12:16] Ali-YousefiTelori opened #138 "Not work on angular js?"
HI,
Compile successfuly but All of Linq methods is undefined.
How can I fix this?

[2018-07-16 07:14] Ali-YousefiTelori commented on #138
I check all of ways that not works, but I changed your codes to Extensions for Array<T> that  works

[2018-08-08 11:04] kutyel opened #140 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-08-20 07:48] #140 closed

[2018-09-17 06:38] doghappy opened #143 "How to use linq method on a property?"
I want use linq.ts, but how to use on a property ( type of array ), I know how to write use C#

### data
[code]
### entity
[code]

### C#
[code]

how to get value use linq.ts on TypeScript?

[2018-09-17 07:01] saurav-sahu commented on #143
Every property you want to use `linqts` on has to be a `linqts.Enumerable` or a `linqts.List`

[code]

[2018-09-17 08:18] #143 closed

[2018-10-15 16:27] marlon-tucker commented on #68
This will never work, the object being returned is "new" and therefore always unique. In C# I believe this works due to anonymous objects implementing a simplistic IEquality interface which hashes the properties. This is not achievable in javascript.

You *could* inspect the mapped return type to see if it contains a "equals" function, and use the return value from that function instead, but in th

[2018-10-15 16:31] marlon-tucker commented on #56
What's the status of this please?

GroupBy not having a typed return type is quite the hindrance IMO.

I have decent knowledge of both TS and LINQ so if you need a hand give me a shout.

[2018-10-15 17:44] kutyel commented on #56
Hey @marlon-tucker! A PR it’s already open although the tests need some fixing and maybe the implementation as well 🙃. Please feel free to continue the work or provide your own solution, I’d be very willing to merge! 🙌🏼

[2018-10-25 13:35] #56 closed

[2018-10-25 13:36] kutyel commented on #68
I'll close this for now since as discussed in the thread I don't think this is possible yet due to the nature of JavaScript itself 🤷‍♂️

[2018-10-25 13:36] #68 closed

[2018-11-03 13:11] SkeletonSkelettron opened #148 "Disticnt() does not work correctly"
Hi
Distinct() function is not working correctly.
You can check this code:
`const store1 = new List<Product>([
      new Product({ Name: 'apple', Code: 9 }),
      new Product({ Name: 'orange', Code: 4 }),
      new Product({ Name: 'apple', Code: 9 }),
      new Product({ Name: 'lemon', Code: 12 })
    ]);

    console.log(store1.Distinct().ToArray());`

this outputs
`0: Product {Name: "apple", Cod

[2018-11-03 17:09] kutyel commented on #148
Hi! Thanks for reporting the issue! I’ll fix this and publish a new release tonight! 😉

[2018-11-03 17:11] kutyel commented on #148
Or if you want you can provide a PR and that way I can add you as  a contributor to the library! 🎉

[2018-11-03 17:30] SkeletonSkelettron commented on #148
thanks kutyel, I will :)))

[2018-11-03 19:48] #148 closed

[2018-11-06 16:34] fahadash opened #150 "Browser support information needed"
The docs need to be updated with the list of supported browsers. Is there a place where we can find this information?

[2018-11-07 09:29] kutyel commented on #150
Hi, the compilation target is `es5`, therefore the compatibility table is this one: http://kangax.github.io/compat-table/es5/, feel free to add it to the README.md in a PR or provide it some other way to the repo 😉

[2018-11-07 09:29] #150 closed

[2018-11-07 22:47] fahadash commented on #150
Are you sure your target is ES5? I downloaded the package from NPM and .js files have “class” keyword used widely.

[2018-11-08 07:36] kutyel commented on #150
Absolutely sure! I just opened the `dist` folder (which is the one being published) and there are several files depending on the consumer, have a look at the picture:
<img width="292" alt="dist" src="https://user-images.githubusercontent.com/5127501/48184111-4a0bf380-e331-11e8-93eb-99bbb829634b.png">
I think the one you should be concerned about is the `*.umd.js` version (for browsers) and that on

[2018-11-09 03:28] fahadash commented on #150
Thank you. I have tried typescript-linq which is not es5 compliant. Tried line-es5 which is buggy, I am going to give this one a try now.

[2018-12-04 04:55] greenkeeper[bot] opened #153 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.12.3` to `15.12.4`.

🚨 [View failing branch](https://github.com/kutyel/linq.ts/compare/master...kutyel:greenkeeper%2Fsemantic-release-15.12.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semantic-release

[2018-12-04 12:00] #153 closed

[2018-12-19 14:46] mzhukovs opened #155 "Question on Best Practice for Data Binding / Performance of ToArray()"
First off, this is awesome. As someone coming from C# picking up TypeScript, this makes me feel a lot more at home.

Question regarding usage of these magic Lists. In a js framework, e.g. Vue, obviously they would expect Arrays for binding (i.e. can't bind directly to List. So is it better to 1) keep your data as a List in the component and just call ToArray on it for binding, or 2) keep your comp

[2018-12-20 08:58] kutyel commented on #155
Hi @mzhukovs! I'm very glad you enjoy this library, thanks for your kind words! 😍 (I also came from a C# background, and the reason you mentioned is exactly why I created this library, to make .NET folks feel more like home in the JS/TS ecosystem 😉).

As per your question, I'm not familiar with Vue but I think you can use any data structure / library as a replacement for native Arrays, and it shou

[2018-12-20 09:56] mzhukovs commented on #155
Hey thanks for the quick response, yes keeping the data in the component as the List would fall under my option 1 that I mentioned, but then because in the template we can't bind directly to the List object would have to call .ToArray on it for everything to render. Hoping your friend responds since I guess it is fairly Vue specific although I'm sure it's the same story with Angular.

[2018-12-20 09:58] alexjoverm commented on #155
Not sure if using a computed to create a `List` from an array is much viable. Not because of performance, but because if you use any method that mutates the data (say `setWhatever`) it wouldn't work since on every `servers` change that `List` instance will be new.

From the other hand, most likely Vue wouldn't be able to observe inner changes in the `List` instance if you declare it as local state

[2018-12-20 10:04] mzhukovs commented on #155
Hey @alexjoverm, thanks for the quick reply.

Actually the example I provided above works, where testLinq() does mutate the original data via the computed prop (and child components also get updated). I was asking more from a performance/recommended setup perspective. [Full example here](https://drive.google.com/open?id=1z8OrWK3NFugBdx6O2-QVHcFt8tKkFa5q).

[2018-12-20 11:01] kutyel commented on #155
Performance wise I don't think it should be an issue, if you have a look at the implementation of `toArray()`:
[code]
You'll see I'm just unwrapping the values inside the list, no further transformation of the array. Feel free to close the issue whenever you think your question is answered btw 😉

[2018-12-22 23:45] uler3161 opened #156 "Type definition wrong?"
Just found this project and would love to be able to use linq style code in typescript. However, I think there's something wrong with the typings file. It's almost like it's out of date. Specifically, I'm trying to use the `GroupBy` changes in 1.12.1. I've tried that version and 1.12.2. Both seem to have this in `index.d.ts`:
[code]
I'll admit that I'm fairly new to typescript, so maybe I'm missin

[2018-12-25 16:03] kutyel commented on #156
Hi! Thanks for reporting this! Indeed, I tried to run *microbundle* locally and it seems that the `build` option is not working, therefore in the last publish the definitions were not updated, @developit do you know what could be wrong with the bundler? 🤔

[2018-12-25 16:52] robertmclaws commented on #156
So, out of curiosity... if LinqTS is itself a TypeScript file, why does it need a `d.ts` file? Why not just ship the `.ts` file and let the TypeScript compiler do all the work?

[2018-12-26 17:43] uler3161 commented on #156
Like I said, I'm fairly new to Typescript, so maybe I'm not understanding correctly, but I believe this is what's defining things as having a type rather than "any". That's much better for intellisense.

Another reason is my development environment is showing an error when I try to use GroupBy with just a grouper. I believe that's because the old index.d.ts requires both a grouper and a mapper, bu

[2018-12-27 07:14] mzhukovs commented on #59
It appears this still causes an issue? If I use .Any() I get this console error:
Uncaught (in promise) TypeError: this.posts.Any is not a function
    at o.eval (VM652 ts-loader:43)
    at Generator.next (<anonymous>)
    at fulfilled (VM652 ts-loader:14)

.Any without parentheses appears to work.  @Kurtz1993  am I missing something? TIA.

[2018-12-30 15:31] Kurtz1993 commented on #59
Hi @mzhuvoks right noq I'm on vacaction. Returning on January 6th.

Can you give me a more detailed example of the issue so that I can work onit when I'm back?
Also, is the `this.posts` an instance of a List<>?

[2018-12-30 15:32] Kurtz1993 commented on #59
I will check the code as of today, because when I did the PR it was supposes to be used with parenthesis `.Any()`

[2018-12-31 22:14] robertmclaws commented on #156
@uler, I'm sorry, that question was for @kutyel.

[2019-01-02 08:49] kutyel commented on #156
@robertmclaws you are right, the whole project is TypeScript so a `*.d.ts` file should not be needed but I use `microbundle` to bundle and compile to different targets and so consumers of the lib should need the unified type definition file. @uler3161 can you try and change the `package.json` for the library in your `node_modules` to this?
[code]
If that works for you I'll make a new release with

[2019-01-03 11:12] kutyel commented on #156
Maybe this is all due that I had to stuck the project to `microbundle@0.4.0`, @texastoland do you know what I need to change to benefit from the upgrading to TypeScript 3 and the latest version of microbundle? 🙏

[2019-01-03 16:38] robertmclaws commented on #156
I think the point of shipping it as a TypeScript file is that it gets compiled by the end project, and doesn't get transpiled to something else in between. There are other implementations (like linqjs) that are frankly a little better in some ways, so this project should play to it's strengths (more closely mapping to the C# LINQ implementation) and keep things simple. Just ship the TS file. Don't

[2019-01-03 17:07] kutyel commented on #156
I tried very hard at the beginning of the library to ship _just_ TypeScript, and I ended up having a new Issue per week of Angular people not being able to actually **use** the library on their projects...

[2019-01-03 18:40] texastoland commented on #156
I wrestled with TypeScript in microbundle for a while. I found deeper issues and ended up using raw Rollup. Wish I could help!

[2019-01-09 20:55] chris-findlay opened #157 "ElementAtOrDefault bugs"
`ElementAtOrDefault` is defined as:
[code]
However the description doesn't match the implementation (tho the test does), and the implementation is buggy anyway - c.f. `FirstOrDefault()`.

Specifically, indexing off the end (or start, which is not checked for by the way - another bug) should return undefined, rather than throwing, to match the description and .Net behaviour.

Also, if I have a list

[2019-01-10 08:47] kutyel commented on #157
Hi @chris-findlay! Thanks for reporting this.

This is doable, but as for the second comment:

This is rather tricky to achieve in JS/TS, since the `default` value would be different depending on the type, I can't build a function that returns an empty value for *each existing type* in the language, how does this work in C#? Does it only return `0`, `''`, `[]`, etc. in the case of some basic nativ

[2019-01-10 20:03] chris-findlay commented on #157
.Net returns `null` for reference types, `0` for numbers and `false` for boolean.  It returns a default instance for structs, e.g `DateTime` => `1/01/0001 12:00:00 AM`.

Given it's JS, I reckon that `undefined` is a suitable default, or perhaps `null`, but my point was not what to return when we don't have a valid index, but rather that when we have a valid index, but the value at that index is _f

[2019-01-11 12:58] kutyel commented on #157
Ok then changing the method so that it doesn't throw and adding `'', 0, false` to the default return would be what you need? 😉

[2019-01-13 22:11] chris-findlay commented on #157
- Fixing `ElementAt` to also throw for -1 etc;
- Fixing `ElementAtOrDefault` to check for out of bounds (either side) explicitly and return `undefined` in those cases;
- Fixing `ElementAtOrDefault` to check for in bounds (i.e. the `else` to the above `if`) and only return the value at that index, with no fallback clause.

[2019-01-30 03:43] 009topersky opened #158 "ionic 3 Android/IOS Mobile Linq not working"
Thanks to this library makes my life easier

BUT..
Currently, I have a project running on ionic 3 + Angular 5

The problem is when i build the application on Android/IOS Device, the linq query is not working

Please HELP Me!
Thanks

[2019-02-13 20:58] kutyel commented on #158
Hi! I'm sorry this question is too vage and scarce on details, can you please elaborate more? :)

[2019-02-13 20:58] #158 closed

[2019-06-12 15:44] #157 closed

[2019-06-12 15:44] kutyel commented on #157
Sorry for the delay @chris-findlay, it was pretty straight-forward to fix! 😉

[2019-06-12 17:39] zevenbergm opened #159 "The"
The NPM package has no dist folder: https://unpkg.com/linqts@1.12.3/dist/linqts.js. Please can you update the NPM package?

[2019-06-12 21:47] #156 closed

[2019-06-12 21:48] kutyel commented on #159
Should be fixed now, sorry for the inconvenience!

[2019-06-12 21:48] #159 closed

[2019-06-19 08:45] ToxicToast opened #160 "Module not found: Error: Can't resolve 'linqts'"
Hey
i've seen a few Bugs like this,
i am using Angular 7 right now with linqts (version 1.12.4)
when i am building with it, it shows that the module can't be found but it is definitely in the node_modules folder
(sorry in advance if something is unclear, english isn't my first language)

here my tsconfig:

  "compileOnSave": false,
  "compilerOptions": {
    "outDir": "./dist/out-tsc",
    "baseUr

[2019-06-19 11:13] ToxicToast commented on #160
solved - looks like putting it into the devDependencies causes this error

[2019-06-19 11:13] #160 closed

[2019-06-20 08:29] Zonciu opened #161 "[1.12.4]Can't resolve 'linqts'"
`dist` folder structure changed but `package.json` doesn't modified.
dist:
[code]

package.json
[code]

[2019-06-20 09:41] kutyel commented on #161
Where is the error? I opened the dist folder and see exactly the same structure, how did you run into the error?

[2019-06-20 12:48] Zonciu commented on #161
I'd tried both Vue and React:

Vue
[vue.zip](https://github.com/kutyel/linq.ts/files/3310386/vue.zip)
[code]

React
[react.zip](https://github.com/kutyel/linq.ts/files/3310387/react.zip)
[code]

Rename ` "main": "dist/linqts.js",` to `"main": "dist/index.js",` in package.json then the project works.

[2019-06-20 19:18] #161 closed

[2019-06-20 19:21] kutyel commented on #161
@Zonciu ok, I've published a fixed version 1.12.5, can you try if that works? 😉

[2019-06-21 01:56] Zonciu commented on #161
Yes it works.👌

[2019-06-25 02:48] nczsl opened #162 "Cannot find module linqts"
1.12.4
1.12.5
Did you write the t.d file

[2019-06-25 09:51] kutyel commented on #162
Yes, a declaration file is produced in the published files, see https://github.com/kutyel/linq.ts/issues/161, this should be now fixed.

[2019-06-27 13:59] #162 closed

[2019-07-29 14:27] mjknight50 opened #163 "SyntaxError: Unexpected token `export`"
Node v10.15.3

Imported like this:
[code]

Here is my tscconfig.json:

[code]

[2019-07-29 18:33] aequasi commented on #163
This broke since 1.12.2.

@mjknight50 if you roll back to 1.12.2, it should work

[2019-07-29 18:35] mjknight50 commented on #163
@aequasi  Thanks for the response..  do you mean broken since 1.12.5?

[2019-07-29 18:35] aequasi commented on #163
I don't know when it broke, but it was working in 1.12.2, so it broke at some point since then

[2019-07-30 07:39] gruckion commented on #163
Can you please format your code, you can use back ticks ` 3 of them wrapped around your code so it is easier to read.

[2019-08-02 20:56] kutyel commented on #163
@mjknight50 @aequasi @gruckion can you please check if it works with the latest release and also like the library if you haven’t already? 😊

[2019-08-05 23:57] arunesh90 commented on #163
Still broken over here. As you can see at https://unpkg.com/linqts@1.12.6/dist/index.js it's still using `export`

[2019-08-06 06:51] kutyel commented on #163
Which node version are you using? I tried on a small project locally with the latest LTS version and it worked fine 🤔

[2019-08-21 16:13] mjknight50 commented on #163
This is definitely still broken for 1.12.6

[2019-08-21 21:34] kutyel commented on #163
K, will fix it as soon as I have time, if you guys can provide a working PR that would be awesome 😎

[2019-11-12 09:07] DmitryEfimenko commented on #163
any updates on this?

[2020-01-03 07:47] janseng1970 opened #164 ".ForEach with thisArg"
Hello,

I am working with your library, thanks for the possibility.

I am using the List<> generic as class property type. In case I have to do a loop in a class methode I am runnig in the this problem in context of the .ForEach(callback). The .ForEach wrapper ist not supporting the thisArg of the javascript .forEach function of an array.

Would it not a good enhancemend if ist would be possible t

[2020-01-03 08:40] kutyel commented on #164
Hi! Thanks for opening an issue, besides this not being the behaviour of LinQ (which this library tries to imitate), any problem with **this** in JavaScript is solved by using arrow functions `=>`, hence, it should not be necessary to do strange tricks! 😉

[2020-01-03 08:40] #164 closed

[2020-01-10 16:22] Univac1107 opened #165 "How to clear a List?"
I wasn't able to find an equivalent to Clear() method. Am I missing something? Thanks!

[2020-01-11 14:10] kutyel commented on #165
It does not exist currently but it's fairly easy to implement, you can give it a try if you want 😉

[2020-01-23 16:35] Univac1107 opened #166 "Index '[]' operator not behaving as expected."
Hello, in the following code:

`const list = new List([1, 2, 3, 4, 5]);`
`const a = list[2];`

'a' is undefined instead of 3. Is this the expected behavior? Should I use ToArray() first?

Thanks!

[2020-01-23 20:00] kutyel commented on #166
It is the intended behaviour, you should use `List.ElementAt(2);` to achieve what you want 😉

[2020-01-23 20:00] #166 closed

[2020-03-04 07:14] syedadeel2 opened #167 "angular 9 typescript Uncaught TypeError: rtn.items.Count is not a function"
I'm having the issue after compiling the typescript as soon I hit the button I got this error.

`if (rtn.items.Count() === 0) {
}`

no build errors, just on runtime also I can see that Webpack has included the Linqts module as well.

[2020-03-04 08:51] kutyel commented on #167
This doesn't look as an error from the library, in your code, is `rtn.items` a `List<A>` of something? Or it is `rtn` the list? If that's the case you'll need to do `rtn.Count()`... If this is not the case please provide a failing test to the library so that we can fix the bug, but the `Count()` tests are passing fine 😄

[2020-03-09 10:59] #167 closed

[2020-04-29 12:01] #165 closed

[2020-04-29 20:25] mrsauravsahu commented on #163
I can check it out this weekend. 😁

[2020-04-29 21:02] mrsauravsahu commented on #163
Yes, even I can reproduce the error with v10.15.3. Isn't this happening because @kutyel you are targeting esnext in your `tsconfig.json`? Better to compile down to ES5 with typings separately, so that the consumer can easily use with TypeScript or JavaScript. Thoughts?

[2020-04-30 07:23] kutyel commented on #163
Sure, I'll try to do that today, thanks.

[2020-04-30 11:49] kutyel commented on #163
Also, @mrsauravsahu feel free to provide a PR if you want to contribute! 😉

[2020-04-30 14:41] mrsauravsahu commented on #163
Sure @kutyel 😬

[2020-05-03 17:01] mrsauravsahu commented on #163
So, here's what I did. Cloned your project and ran `npm run build` to get the `dist` folder. Created a typeScript project and imported the `index.js` folder from the dist generated. The TS project ran without any errors.
The issue is indeed the way you are publishing to npm. I couldn't find a publish command in your package.json. I can open up a PR, but essentially what we need to do, is to publis

[2020-05-04 08:18] kutyel commented on #163
Sure, feel free to add whatever is needed, my issue has always have been ava and the way it all transpiles to js, either the package is wrong or the tests are wrong, and sincerely don't have any more time to waste on this, thanks for your help!

[2020-05-06 13:13] mrsauravsahu commented on #163
I don't see a CD file.  Are you deploying manually to npm?
In that case, can you send me the command you're using.

[2020-05-06 13:35] kutyel commented on #163
`npm publish`?

[2020-05-08 11:30] kutyel opened #169 "Auto publish to npm with @semantic-release/npm"
https://github.com/semantic-release/npm

[2020-05-08 11:33] kutyel opened #170 "Support TypeScript in Strict mode"
Right now there are quite a few type errors (especially regarding predicate functions) if you enable the strict mode of TypeScript, the goal is to fix all those to make the library more type-safe.

[code]

Since this is a breaking change, fixing this issue will provoke the release of a **v2.0.0 version.**

[2020-05-08 11:35] kutyel commented on #163
I think I've finally been able to fix this by removing microbundle and simple using `tsc`, https://github.com/kutyel/linq.ts/commit/3855a3d621de08e14abbec13acb2ff8272f8ad88 it will be fixed in next version: **v1.13** and I will close this ticket as soon as I'm able to publish the package to npm, who lost my credentials, thanks everyone for the patience!

[2020-05-08 17:08] kutyel commented on #163
This should be fixed now that the v1.13 is released to npm, please someone try it out and tell me if it works 😉

[2020-05-19 15:14] rustycoslett commented on #170
Does this mean that going from 1.12.6 to 1.13.0 should fail with strict?  I updated today and get an error that cannot find .d.ts from index.  Had to rollback to 1.12.6

[2020-05-20 08:15] kutyel commented on #170
Nope, I intend to make the strict version of the library a 2.0.0 (breaking change), but that has not happened yet. The typings now should be at `types/index.d.ts`, if more people has this problem I'll make another release outputting the typings to the same folder as the js code :)

[2020-05-26 16:50] TheCleric commented on #170
I am also having this issue:
[code]

[2020-06-01 12:23] kutyel commented on #170
Hi @TheCleric and @rustycoslett, in the latest version of the library https://github.com/kutyel/linq.ts/releases/tag/v1.14.0 I've changed the type declarations back to the dist folder, if the issue persists please **open a different issue**, this one is to track progress of when the library will be 0.2 and support TypeScript's Strict Mode.

[2020-06-05 12:03] kutyel commented on #169
Fixed by changing my npm account:
[code]

[2020-06-05 12:03] #169 closed

[2020-06-05 13:46] marlon-tucker opened #172 "package.json incorrect in 1.14.0"
Hello,

The `package json` says the files should be in `dist/` but they are now in `dist/src/`.

https://github.com/kutyel/linq.ts/blob/eb9d8997fd9a1aa70b33232c099bf2162e9d938d/package.json#L7-L8

[2020-06-05 14:19] #172 closed

[2020-06-05 14:35] marlon-tucker commented on #172
Hi, the `main` entry point also need to be changed so bundlers can locate the entry file.

[2020-06-05 14:45] kutyel commented on #172
:tada: This issue has been resolved in version 1.14.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/linqts/v/1.14.1)
- [GitHub release](https://github.com/kutyel/linq.ts/releases/tag/v1.14.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-05 14:52] kutyel commented on #172
Thanks, not it should be fixed in https://github.com/kutyel/linq.ts/releases/tag/v1.14.2 😉

[2020-07-04 22:45] johnhamm commented on #155
Thought I would add this for future users of this great library and mobx.  Linq.ts is not compatible with mobx's change detection, so to get it to work, you would always use a computed property for the Linq list, and use an array for the observable property like so:

[code]
Stackblitz example: https://stackblitz.com/edit/mobx-linqts

My fantasy is to have linq.ts modified to be compatible with Mob

[2020-07-05 17:00] johnhamm commented on #155
FIY, I just ended up passing in an observable array to the List constructor to get it to respons to Mobx's change notifications (you can use them in Angular templates now and it will automatically update itself whenever an item is added to or removed from the list):

let list = new List<SomeObject>(observable.array());

[2020-09-09 21:41] jaredbaszler commented on #163
FYI - I still got this error today with the most recent version of of the package at this time (1.14.3).  I rolled back to 1.12.2 and the error disappeared.

[2020-09-09 22:25] kutyel commented on #163
Hi, can you provide steps to reproduce please? There is no longer a bundling step so this definitely should not happen 😄

[2020-09-09 22:40] jaredbaszler commented on #163
I installed `1.14.3` today and then just ran a simple where clause:

[code]

my `tsconfig.json` is:

[code]

[2020-09-17 16:39] HypeillingerChillinger opened #174 "Extend array prototype"
Say we have an array and we want to use LINQ methods on it. Then we have to instantiate a new List.
It would be more convenient if the array prototype was extended. Is that possible?

[code]

[2020-09-17 18:50] kutyel commented on #174
That is a mistake and should never be done: https://stackoverflow.com/questions/14034180/why-is-extending-native-objects-a-bad-practice

[2020-09-17 18:50] #174 closed

[2020-10-08 20:11] hozjanmarko opened #175 "Import issue in nodejs ts app"
[code]

[2020-10-08 21:38] kutyel commented on #175
Feel free to open a PR, this has something to do with our build pipeline with microbundle @developit 😭

[2020-10-08 22:34] hozjanmarko commented on #175
Do you really need microbundle?

[2020-10-09 08:18] kutyel commented on #175
Maybe not, feel free to propose an alternative that supports both browser and node 😉

[2020-10-09 21:44] developit commented on #175
This isn't a problem in Microbundle, it's a misconfiguration. Microbundle isn't being run when the module is built, it's just relying on `tsc`.

You need a package.json like this:

[code]

[2020-12-30 19:16] Rechdan commented on #175
Having this problem here:
[code]

[2020-12-31 09:17] kutyel commented on #175
@Rechdan can you please provide steps to reproduce? The rest of the people seem not to have this problem anymore...

[2020-12-31 13:36] Rechdan commented on #175
@kutyel sure, here is my package.json:
[code]
And to reproduce is simple, I just run the `dev` command and I get this error.

[2021-01-08 20:19] mjknight50 commented on #163
This still is happening.
"linqts": "^1.14.3",

[2021-01-11 20:51] abinici commented on #58
Hi, I agree with @stefan505, it makes more sense that this project follows the conventions of JS, because TS is just JS with types. I think that pascal casing will just confuse new developers.

[2021-01-12 09:42] kutyel commented on #163
@jaredbaszler @mjknight50 feel free to provide a PR, I'll be happy to merge, tried `microbundle` in the past but could not make it to work as expected with TypeScript 😓

[2021-01-12 09:42] kutyel commented on #175
Closed as a duplicate of https://github.com/kutyel/linq.ts/issues/163

[2021-01-12 09:42] #175 closed

[2021-01-12 12:10] #163 closed

[2021-01-12 12:13] kutyel commented on #163
:tada: This issue has been resolved in version 1.14.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/linqts/v/1.14.4)
- [GitHub release](https://github.com/kutyel/linq.ts/releases/tag/v1.14.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-15 19:36] Jonatthu opened #177 ".ToDictionary should return a Dictionary<TKey, TValue>"
https://github.com/kutyel/linq.ts/pull/136

This is not allowing me to use the following syntax:

[code]

[2021-01-15 21:26] kutyel commented on #177
Hi, are you sure you are using the function correctly?
Have a look at the tests:
[code]
They are working correctly, and if not, please provide a unit tests that fails so that we can fix it :)

[2021-01-15 21:31] Jonatthu commented on #177
@kutyel
This is what I get when I try in typescript 4.1.2
![image](https://user-images.githubusercontent.com/3742176/104780604-eada7280-5735-11eb-9bc8-18fa68512652.png)

[2021-01-15 21:32] Jonatthu commented on #177
<img width="554" alt="Screen Shot 2021-01-15 at 1 32 23 PM" src="https://user-images.githubusercontent.com/3742176/104780742-1a897a80-5736-11eb-86a0-847302af33bb.png">

[2021-01-15 21:32] Jonatthu commented on #177
I believe the typing is incorrect

[2021-01-15 21:34] kutyel commented on #177
I believe you are passing the wrong function to `ToDictionary`, whatever you pass there will become the `Key` of your Dictionary...

[2021-01-15 21:36] kutyel commented on #177
If you want a `Dict<{ id: string }, { name: string }>`, consider using the function `peopleList.ToDictionary(x => x.id, y => y.name)`...

[2021-01-15 21:37] Jonatthu commented on #177
@kutyel Actually my issue is not the typing is incorrect on the Key, the problem is that the typing that is displaying does not have the ability to access to the dictionary by using the myDictionary['myKey'] syntax just like c#

[2021-01-15 21:38] kutyel commented on #177
As I said, please provide a unit test with a complete example with types and the input and output that you expect and that way we will know if this is something that needs to be fixed 😅

[2021-01-15 21:40] Jonatthu commented on #177
<img width="780" alt="Screen Shot 2021-01-15 at 1 40 08 PM" src="https://user-images.githubusercontent.com/3742176/104781350-2fb2d900-5737-11eb-8aa3-f892f3423f4c.png">

This is on c#

[2021-01-15 21:40] Jonatthu commented on #177
The unit tests will not give me a wrong result.
This is a typing issue for Typescript @kutyel

[2021-01-15 21:42] Jonatthu commented on #177
The typing
[code]

That the ToDictionary function is returning is wrong.

It should be similar to:

{ [key:string]: T }

[2021-01-16 02:57] Jonatthu commented on #177
@kutyel These are the typescript definitions, they are incorrect on this library. It should be reverted and support instead .Keys and Values methods if preferred.
[code]

The right typing for a dictionary should be

[code]

[2021-01-17 22:03] kutyel commented on #177
Ahhhh... I see what you mean, so the response should be like a JS object, like what ToLookUp does:
[code]
Strange that nobody else complained about this before 🤔

[2021-01-17 22:07] Jonatthu commented on #177
Maybe the library can add an extra extension, just for the typing since I like the fact we can have Key and Value

[2021-01-21 13:42] kutyel commented on #177
@Jonatthu Any reason why this comments is not valid anymore https://github.com/kutyel/linq.ts/issues/126#issuecomment-388589341? 🤔

[2021-01-29 13:12] kutyel commented on #177
I'm closing this for the moment, because if I change back the Dictionary<TKey, TValue>, this code will break:
[code]
Which would be a major change, and if people wants a JS object instead you can use the `ToLookUp` function instead.

[2021-01-29 13:12] #177 closed

[2021-03-08 08:01] schotime commented on #177
The only problem here is that ToLookup returns an TResult[] instead of just a TResult. Can we have a another overload that does this?

[2021-03-08 10:41] schotime commented on #177
A sample implementation is

[code]

[2021-03-11 16:00] ahzaab opened #179 "Angular 10 Compatibility"
I get the following warning when using with Angular 10 and greater:

`'linqts'. CommonJS or AMD dependencies can cause optimization bailouts.`

Is this something that can be fixed?

[2021-03-18 15:12] kutyel commented on #179
I'm afraid I haven't tested this with the latest Angular... if it is just a warning maybe it can be ignored? 😅

[2021-04-06 09:12] #179 closed

[2021-07-01 10:43] xxxjnx opened #180 "Hello"
I introduce  import { List } from '../node_modules/linqts/dist/src/index.js';  And use List ,The error displayed is Uncaught SyntaxError: The requested module '../node_modules/linqts/dist/src/index.js' does not provide an export named 'List'

[2021-07-01 10:46] kutyel commented on #180
Hi! Can you please provide steps to reproduce? node/web? angular? react? This issue should definitely be closed by https://github.com/kutyel/linq.ts/issues/175

[2021-07-02 02:54] xxxjnx commented on #180
I'm a beginner. The new error after configuration according to your tsconfig.json file is demo.js:2 uncaugh referenceerror: exports is not defined

at demo.js:2   ;  This sentence in the document,  Object.defineProperty(exports, "__esModule", { value: true });

This is mine tsconfig.json file configuration
`{
    "compilerOptions": {
        "target": "es5",
        "module": "CommonJS",
        "

[2021-07-02 02:54] xxxjnx commented on #180
I'm a beginner. The new error after configuration according to your tsconfig.json file is demo.js:2 uncaugh referenceerror: exports is not defined

at demo.js:2   ;  This sentence in the document,  Object.defineProperty(exports, "__esModule", { value: true });

This is mine tsconfig.json file configuration
`{
    "compilerOptions": {
        "target": "es5",
        "module": "CommonJS",
        "

[2021-07-02 08:04] kutyel commented on #180
Hi! Please copy the tsconfig.json mentioned in https://github.com/kutyel/linq.ts/issues/163 and it should work 😉

[2021-07-02 08:04] #180 closed

[2021-09-14 11:02] kutyel opened #181 "Move this project from Travis to Github Actions"
Since Travis stopped building for some reason 💩 It's time to move way from it to Github Actions!

Any contribution to this will be welcome! 🙌🏻